{% extends "app/base.html" %}
{% block content %}

<!-- 詳細画面の表示 -->
<div class="row my-4">
    <div class="col-md-8">
        {% for post in post_data %}
        <div class="card mb-4">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="" class="card-img-top index-img">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ post.title }} <span class="small"> # {{ post.category }}</span></h2>
                <p class="card-text"> {{ post.content|truncatechars:100 }} </p>
                <div class="btn btn-warning">詳細</div>    
            </div>
            <div class="card-footer text-muted">
                <!-- 日付と筆者を取得する -->
                {{ post.created|date }} by {{ post.author }}
            </div>
            <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>

    <!-- 撮影スポットのカテゴリ -->
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">撮影スポット</h5>
            <div class="card-body">
                <div class="column">
                    <!-- カテゴリの要素を取り出してURLリンク付きのタグを作成する -->
                    {% for category in category_data %}
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'category' category %}"> 
                                        # {{ category.name }} 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}